<% if @measurement_boxes.present? %>
  <section class="mb-4">
    <div class="space-y-3">
      <% @measurement_boxes.each do |box| %>
        <%= render "dashboard/measurement_box", box: box, child: current_child %>
      <% end %>
    </div>
  </section>
<% end %>
