<% if @activities.present? %>
  <section class="mb-6">
    <%= render "shared/ui/section_header", title: t("dashboard.show.suggested_activities.title"), variant: "overline" %>
    <div class="space-y-3">
      <% @activities.each do |activity| %>
        <%= render partial: "shared/ui/card_activity", locals: {
          content: activity,
          favorite_ids: @favorite_ids
        } %>
      <% end %>
    </div>
  </section>
<% end %>
