<% if @tips.present? %>
  <section class="mb-6">
    <%= render "shared/ui/section_header", title: t("dashboard.show.todays_tips.title"), variant: "overline" %>
    <div class="space-y-3">
      <% @tips.each do |tip| %>
        <%= render partial: "shared/ui/card_tip", locals: {
          content: tip,
          favorite_ids: @favorite_ids
        } %>
      <% end %>
    </div>
  </section>
<% end %>
