<% scope = "questionnaire_sessions.show" %>

<% if stimulation_activities.any? %>
  <div id="stimulation-activities" class="shuby-callout shuby-callout--verde mb-6">
    <div class="shuby-callout-body">
      <div class="shuby-callout-icon">
        <%= render_svg "shuby/icons/icon-tips", size: :lg, decorative: true %>
      </div>
      <div class="shuby-callout-content">
        <h3 class="shuby-h3 mb-2"><%= t("stimulation_activities_title", scope: scope) %></h3>
        <p class="shuby-caption mb-3"><%= t("stimulation_activities_subtitle", scope: scope) %></p>
        <ul class="shuby-callout-list">
          <% stimulation_activities.each do |a| %>
            <li class="shuby-p2"><%= a.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
