<% scope = "questionnaire_sessions.show" %>

<% if warning_signs.any? %>
  <div class="shuby-callout shuby-callout--blu mb-6">
    <div class="shuby-callout-body">
      <div class="shuby-callout-icon">
        <%= render_svg "shuby/icons/icon-alarm", size: :lg, decorative: true %>
      </div>
      <div class="shuby-callout-content">
        <h3 class="shuby-h3 mb-2"><%= t("warning_signs_title", scope: scope) %></h3>
        <p class="shuby-caption mb-3"><%= t("warning_signs_subtitle", scope: scope) %></p>
        <ul class="shuby-callout-list">
          <% warning_signs.each do |c| %>
            <li class="shuby-p2"><%= c.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
