<% scope = "questionnaire_sessions.show" %>

<div class="shuby-card">
  <h2 class="shuby-h3 mb-4"><%= t("responses_title", scope: scope) %></h2>
  <div class="shuby-response-list">
    <% responses.each do |response| %>
      <div class="shuby-response-row">
        <%= shuby_tag(t("answer_#{response.answer}", scope: scope),
                     variant: answer_tag_variant(response.answer),
                     size: :small) %>
        <p class="shuby-p2"><%= response.question.prompt %></p>
      </div>
    <% end %>
  </div>
</div>
