<% content_for :title, t(".title") %>

<div class="container px-4 mx-auto my-8 pb-24">
  <div class="mb-6">
    <%= link_to children_path, class: "inline-flex items-center shuby-caption hover:text-primary-600" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1">
        <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
      </svg>
      <%= t("children.index.title") %>
    <% end %>
  </div>

  <div class="shuby-card">
    <h1 class="shuby-h3 mb-6"><%= t(".title") %></h1>
    <%= render "form", child: @child %>
  </div>
</div>
