<% content_for :content do %>
  <div class="flex flex-wrap sm:flex-nowrap gap-10 p-6 lg:p-8">
    <div class="w-full mb-4 sm:w-64">
      <%= yield :sidebar %>
    </div>

    <div class="flex-1">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
