<div data-controller="carousel-stepper" class="shuby-carousel-wrapper">
  <div class="shuby-carousel" data-carousel-stepper-target="scroller">
    <%= yield %>
  </div>
  <div class="shuby-carousel-stepper" data-carousel-stepper-target="stepper"></div>
</div>
