<%# Full-bleed horizontal carousel. Padding (20px inline, Figma 434:10376) and
    viewport escape are owned by .shuby-carousel-wrapper / .shuby-carousel CSS;
    callers don't need to provide any parent padding. %>
<div data-controller="carousel-stepper" class="shuby-carousel-wrapper">
  <div class="shuby-carousel" data-carousel-stepper-target="scroller">
    <%= yield %>
  </div>
  <div class="shuby-carousel-stepper" data-carousel-stepper-target="stepper"></div>
</div>
