<section class="mb-12">
  <h2 class="shuby-h2 mb-6">Typography</h2>

  <% DesignSystemHelper::TYPOGRAPHY_SPECIMENS.each do |specimen| %>
    <%= ds_typography_specimen(**specimen) %>
  <% end %>
</section>
