<section class="mb-12">
  <h2 class="shuby-h3 mb-6">Cards</h2>

  <%= render "design_system/cards_articolo_metric" %>
  <%= render "design_system/cards_consigli" %>
  <%= render "design_system/cards_scheda_attivita" %>
</section>
