  <!-- List Items Section -->
  <section class="mb-12">
    <h2 class="shuby-h3 mb-6">List Items</h2>
    
    <div class="shuby-card">
      <div class="shuby-list-item">
        <div class="shuby-list-item-content">
          <img src="https://i.pravatar.cc/48?img=1" alt="Avatar" class="shuby-avatar">
          <div class="shuby-list-item-text">
            <span class="shuby-list-item-title">Alessandro Fischietti</span>
            <span class="shuby-list-item-subtitle">1 mese e 2 settimane</span>
          </div>
        </div>
        <button class="shuby-icon-btn shuby-icon-btn-outline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
        </button>
      </div>
      
      <div class="shuby-list-item">
        <div class="shuby-list-item-content">
          <img src="https://i.pravatar.cc/48?img=5" alt="Avatar" class="shuby-avatar">
          <div class="shuby-list-item-text">
            <span class="shuby-list-item-title">Maria Chiara Fischietti</span>
            <span class="shuby-list-item-subtitle">2 anni e 3 mesi</span>
          </div>
        </div>
        <button class="shuby-icon-btn shuby-icon-btn-outline">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
        </button>
      </div>
    </div>
  </section>
