<section class="mb-12">
  <h2 class="shuby-h3 mb-6">Color Palette</h2>

  <% DesignSystemHelper::COLOR_SCALES.each do |title, config| %>
    <%= ds_color_scale(title: title, colors: config[:colors], grid_cols: config[:grid_cols]) %>
  <% end %>
</section>
