<section class="mb-12">
  <h2 class="shuby-h3 mb-6">Cards</h2>

  <%= render "design_system/cards_article_metric" %>
  <%= render "design_system/cards_tip" %>
  <%= render "design_system/cards_activity" %>
</section>
