<div class="px-4 py-6 pb-24 space-y-6">
  <%= render "development_stages/timeline_growth_phase",
             growth_phase: growth_phase,
             selected_band: selected_band %>

  <%= render "development_stages/timeline_measurements",
             who_ranges: who_ranges,
             selected_band: selected_band,
             child: child %>

  <%= render "development_stages/timeline_stages",
             development_areas: development_areas,
             selected_band: selected_band,
             current_band: current_band,
             child: child %>
</div>
