html {
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

.grid-layout-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: var(--text-primary);

  &:hover,
  &:focus {
    color: var(--text-primary-hover);
    transform: none;
  }
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.table {
  width: 100%;

  th, td {
    vertical-align: top;
  }

}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
