:root.dark,
.dark {
  --lexxy-color-canvas: var(--base-bg-low);
  --lexxy-color-ink: var(--base-text-secondary);
  --lexxy-color-ink-lighter: var(--base-border-tertiary);
  --lexxy-color-ink-lightest: var(--base-border-tertiary);
  --lexxy-color-ink-inverted: var(--text-on-primary);
  --lexxy-color-ink-medium: var(--text-primary-hover);
  --lexxy-color-selected: var(--base-border-tertiary);
  --lexxy-color-selected-hover: var(--base-border-tertiary);

  .lexxy-editor__toolbar-dropdown {
    & .lexxy-editor__toolbar-dropdown-list {
      & button {
        svg {
          fill: currentColor;
        }
      }
    }
  }
}

