<div id="toasts" data-turbo-temporary>
  <%= render ToastComponent.new(flash_toast_attrs(:notice, notice)) if notice %>
  <%= render ToastComponent.new(flash_toast_attrs(:alert, alert)) if alert %>
  <% toasts.each do |_, toast| %>
    <%= render ToastComponent.new(toast) %>
  <% end %>
</div>
