<% content_for :title, t(".title") %>

<div class="container px-4 mx-auto my-8 pb-24">
  <% if @sectioned_view %>
    <%= render "archive/section_home_view",
        articles: @articles,
        consigli: @consigli,
        activities: @activities,
        favorite_ids: @favorite_ids %>
  <% else %>
    <%= render "archive/section_filtered_view",
        active_type: @active_type,
        categories: @categories,
        selected_age: @selected_age,
        selected_category: @selected_category,
        contents: @contents,
        favorite_ids: @favorite_ids %>
  <% end %>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: "archivio" %>
<% end %>
