<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="shuby">
  <head>
    <%= render "head" %>
  </head>
  <body class="stories-layout" data-controller="theme">
    <%= yield %>
  </body>
</html>
